# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
/_Lib_GreensockTween/bin
/_Lib_Minimalcomps/bin
/_Lib_Common/bin
/_Lib_PureMVC/bin
